<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p>Author: {{ book.author.name }}</p>
    <p>Genre: {{ book.genre.name }}</p>
    <p>Published on: {{ book.publication_date }}</p>
    <p>{{ book.description }}</p>
    <p>Avg. Rating: {{ book.average_rating }}</p>
    <h2>Reviews</h2>
    <ul>
        {% for review in book.reviews.all %}
        <li>{{ review.user }} - Rating: {{ review.rating }}<br>{{ review.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>
